//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Standard Media Query Breakpoints
/// @group wds

$large-desktop: rem(1680);
$desktop: rem(1366);
$tablet-landscape: rem(1025);
$wp-admin-bar: rem(783);
$tablet-portrait: rem(769);
$phone-landscape: rem(641);
$phone-portrait: rem(361);