//--------------------------------------------------------------
//   COLORS
//    - Primary palette
//    - Grayscale
//    - Social Media Colors
//       - $social-colors() map
//
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//-------------------------------------------------------------

// COLORS

// Primary palette
$color-turqoise: #4fb8a2;
$color-dark-turqoise: #367e6f;
$color-purple: #662d91;
$color-purple-light: #9d5cce;
$color-black: #000000;
$color-white: #ffffff;

// Grayscale
$color-gray: #808080;
$color-cod-gray: #111111;
$color-mineshaft: #333333;
$color-dove-gray: #666666;
$color-gray-alt: #929292;
$color-silver-chalice: #aaaaaa;
$color-silver: #cccccc;
$color-alto: #dadada;
$color-gallery: #eeeeee;
$color-whitesmoke: #f1f1f1;

// Social Media Colors
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-instagram: #517fa4;
$color-linkedin: #007bb6;
$color-pinterest: #cb2027;
$color-rss: #ff9900;
$color-twitter: #00aced;
$color-youtube: #bb0000;

// $social-colors() map
$social-colors: (
	facebook: $color-facebook,
	facebook-square: $color-facebook,
	googleplus: $color-googleplus,
	googleplus-square: $color-googleplus,
	instagram: $color-instagram,
	linkedin: $color-linkedin,
	linkedin-square: $color-linkedin,
	pinterest: $color-pinterest,
	pinterest-square: $color-pinterest,
	rss: $color-rss,
	rss-square: $color-rss,
	twitter: $color-twitter,
	twitter-square: $color-twitter,
	youtube: $color-youtube,
	youtube-square: $color-youtube,
);

// ELEMENTS & SKINNING

// General
$color-background-body: $color-white;
$color-text-main: $color-cod-gray;
$color-background-hr: $color-silver;
$color-border-abbr: $color-dove-gray;

// Accessibility
$color-background-screen-reader: $color-whitesmoke;
$color-text-screen-reader: $color-turqoise;

// Links
$color-link: $color-dark-turqoise;
$color-link-visited: $color-dark-turqoise;
$color-link-hover: $color-turqoise;