//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $color-dove-gray;
$color-button-background-hover: $color-mineshaft;
$color-button-text: $color-white;

// Inputs
$color-input-border: $color-silver;
$color-input-focus-text: $color-cod-gray;
$color-input-text: $color-dove-gray;

$padding-input: rem(3) rem(5);