//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
@font-face {
	font-family: 'New Shine';
	src: url(assets/fonts/New-Shine-script.otf);
}

@font-face {
	font-family: 'Ostrich Sans Bold';
	src: url(assets/fonts/OstrichSans-Bold.otf);
}

@font-face {
	font-family: 'Ostrich Sans Heavy';
	src: url(assets/fonts/OstrichSans-Heavy.otf);
}

@font-face {
	font-family: 'Ostrich Sans Light';
	src: url(assets/fonts/OstrichSans-Light.otf);
}

@font-face {
	font-family: 'Ostrich Sans Medium';
	src: url(assets/fonts/OstrichSans-Medium.otf);
}


@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url(assets/fonts/OstrichSansRounded-Medium.otf);
}

$font-sans:  "Roboto", sans-serif;
$font-serif: "Roboto", Georgia, Times, "Times New Roman", serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

$line-height-body: 1.5;
$line-height-pre: $line-height-body;

$font-script: "New Shine", sans-serif;
$font-ostrich-bold: "Ostrich Sans Bold", "Roboto", sans-serif;
$font-ostrich-heavy: "Ostrich Sans Heavy", "Roboto", sans-serif;
$font-ostrich-light: "Ostrich Sans Light", "Roboto", sans-serif;
$font-ostrich-medium: "Ostrich Sans Medium", "Roboto", sans-serif;
$font-ostrich-rounded: "Ostrich Sans Rounded", "Roboto", sans-serif;