//--------------------------------------------------------------
// Accessibility
//--------------------------------------------------------------

// Hide text meant only for screen readers

.screen-reader-text {
	@include size(rem(1) auto);

	clip: rect(rem(1), rem(1), rem(1), rem(1));
	height: rem(1);
	overflow: hidden;
	position: absolute !important;

	&:hover,
	&:active,
	&:focus {
		@include size(auto);

		background-color: $color-background-screen-reader;
		border-radius: $border-radius;
		box-shadow: 0 0 rem(2) rem(2) rgba($color-black, 0.6);
		clip: auto !important;
		color: $color-text-screen-reader;
		display: block;
		font-size: rem(14);
		font-weight: 700;
		left: rem(5);
		line-height: normal;
		padding: rem(15) rem(23) rem(14);
		text-decoration: none;
		top: rem(5);
		z-index: 100000; // Above WP toolbar
	}
}
