//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

.alignleft {
	display: inline;
	float: left;
	margin: 0 rem(24) 0 0;
}

.alignright {
	display: inline;
	float: right;
	margin: 0 0 0 rem(24);
}

.aligncenter {
	@include margin-auto;
}
