//-- OUTLINED BUTTON BASE
.btn.btn-outline{
	border-width: 2px;
	border-style: solid;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 80px;

	&:hover,
	&:active,
	&:focus{
		color: $color-white;
	}
}

//-- PURPLE OUTLINED BUTTON
.btn-purple.btn-outline{
	border-color: $color-purple;
	color: $color-purple;

	&:hover,
	&:active,
	&:focus{
		background: $color-purple;
	}
}

//-- WHITE OUTLINED BUTTON
.btn-white.btn-outline{
	border-color: $color-white;
	color: $color-white;

	&:hover,
	&:active,
	&:focus{
		background: $color-white;
		color: $color-purple;
	}
}

//-- SOLID BUTTON BASE
.btn-solid{
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 80px;

	&:hover,
	&:active,
	&:focus{
		color: $color-white;
	}
}

.btn-purple.btn-solid{
	background: $color-purple;
	color: $color-white;

	&:hover,
	&:active,
	&:focus{
		background: darken( $color-purple, 10%);
	}
}


//-- TOOL TIP BUTTON
.tool-tip-trigger{
	vertical-align: 20px;
    font-size: .75rem;
    background: $color-purple;
    border-radius: 80px;
    padding: 4px 7px;
    color: $color-white;
    margin-left: 7px;
    display: inline-block;
    font-weight: 700;
    font-family: arial;
    cursor: pointer;
}

.tool-tip{
	position: absolute;
	left: 0;
	top: 38px;
	font-size: .75rem;
	font-weight: 600;
	font-family: $font-sans;
	background: $color-purple;
	color: $color-white;
	padding: 8px 20px;
	border-radius: 8px;
	@include animation( bounce 2s ease-out 5);
	@include animation-delay(3s);
}

.tool-tip-inner{
	position: relative;
}

.tool-tip-inner:after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: $color-purple transparent transparent transparent;
	position: absolute;
	bottom: -18px;
	left: 20px;
}