// --------------------------------------------------------------
// Media
// --------------------------------------------------------------

.page-content,
.entry-content,
.comment-content {

	img.wp-smiley {
		@include margin-padding-reset;

		border: none;
	}
}

// Images

img {
	height: auto;
	max-width: 100%;
}

// Captions
.wp-caption {
	margin: 0 0 rem(24) 0;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	// Add auto margins so image is centered
	&.aligncenter {
		margin: 0 auto rem(24) auto;
	}

	// Add a margin right to left-aligned images with captions
	&.alignleft {
		margin-right: rem(24);
	}

	// Add a margin left to right-aligned images with captions
	&.alignright {
		margin-left: rem(24);
	}

	.wp-caption-text {
		margin: rem(12) 0;
	}
}

.wp-caption-text {
	text-align: center;
}

// Galleries

.gallery {
	margin: 0 0 rem(24) 0;
}

.gallery-item {
	@include size(100% auto);

	display: inline-block;
	text-align: center;
	vertical-align: top;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.fluid-embed {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
	position: relative;

	embed,
	object,
	iframe {
		@include position(absolute, 0 null null 0);
		@include size(100%);
	}
}

.svg-defs {
	display: none;
}