.feature-popup-outer-container{
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1000;
	width: 0;
	height: 0;

	&.on{
		width: 100vw;
		height: 100vh;
		z-index: 1000;
	}
}

.feature-popup-container{
	position: relative;
	perspective: 8000px;	
}

.feature-popup{
	background: $color-turqoise;
	position: absolute;
	z-index: -1000;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	transform-style: preserve-3d;
	transition: transform .5s ease-in-out;
	transform: rotateY(90deg);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 120px;

	@include media($tablet-portrait){
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
		padding-top: 0;
	}

	&.on{
		width: 100vw;
		height: 100vh;
		z-index: 1000;
		transform: rotateY(0);
	}

	.h1{
		font-size: rem(36);
		color: $color-white;

		@include media($tablet-portrait){
			font-size: rem(56);	
		}
	}

	.new-shine{
		font-size: rem(52);
		color: $color-white;

		@include media($tablet-portrait){
			font-size: rem(80);
		}
	}

	.close{
		position: absolute;
		right: 20px;
		top: 30px;
		font-size: rem(70);
		font-weight: 100;
		line-height: 0;
		color: #317b6b;
		cursor: pointer;

		@include media($tablet-portrait){
			right: 60px;
			top: 60px;
		}
	}

	img{
		width: 100px;
		margin-bottom: 30px;

		@include media($tablet-portrait){
			width: auto;
			margin-bottom: 0;
		}
	}

	.text{
		padding: 0 50px;
	}
}