@mixin grid-wrapper{
	//2up grid of small tiles, includes padding
	@include outer-container(286px);

	@media(min-width: 500px){
		//3up grid of small tiles, includes padding
		@include outer-container(424px);
	}

	@media(min-width: 667px){
		//4up grid of small tiles, includes padding
		@include outer-container(562px);
	}

	@media(min-width: 768px){
		//2up grid of large tiles, includes padding
		@include outer-container(512px);
	}

	@media(min-width: 1024px){
		//3up grid of large tiles, includes padding
		@include outer-container(762px);
	}

	@media(min-width: 1124px){
		//3up grid of large tiles, includes padding
		@include outer-container(1020px);
	}
}