// Vertical Align Middle
// Usage @mixin vertical-align(middle);

@mixin vertical-align($position:middle) {
	position: relative;

	@if $position == none {
		top: auto;
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
	} @else if $position == top {
		top: 0%;
		transform: translateY(0%);
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
	} @else if $position == bottom {
		top: 100%;
		transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
	} @else {
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}
}
