//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure
.site{
	padding-top: 51px;

	@include media($tablet-landscape) {
		padding-top: 0;
	}
}

.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-header,
.site-footer {


}

.site-content {
	margin: 0 auto;

	@include media($tablet-landscape) {
		margin: 108px auto 0;
	}

	.wrap{
		padding-top: 30px;
	}

	.content-area{
		padding-top: 30px;
	}
}

.primary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(8);
	}
}

.secondary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(4);
		padding-left: 5.5%; //70px
	}
}
