nav.post-actions-menu{
	margin: 0 0 rem(60);
	display: block;

	@include media($tablet-landscape) {
		display: none;
	}

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: flex-start;
	}

	li{
		font-size: rem(11);
		text-align: center;
		color: $color-gray;
		cursor: pointer;	
		flex: 0 1 70px;		
	}

	li:hover svg,
	li:active svg,
	li:focus svg{			
		fill: $color-turqoise;
		transform: translateY(-10px);			
	}

	a{
		color: $color-gray;
		text-decoration: none;
	}
	
	//hover link text colors
	a:hover,
	a:active,
	a:focus,
	li:hover span,
	li:active span,
	li:focus span{			
		color: $color-turqoise;			
	}

	span{
		display: block;
		line-height: 1;
	}

	svg{
		fill: $color-purple-light;
		display: block;
		margin: 0 auto 14px;
		transition: all .2s ease-out;
	}

	li.action-item-fav svg{
		width: 46px;
		height: 46px;
	}

	li.action-item-itinerary svg{
		width: 47px;
		height: 47px;
	}

	li.action-item-message svg{
		width: 58px;
		height: 46px;
	}

	li.action-item-directions svg{
		width: 47px;
		height: 47px;
	}
}//nav.post-actions-menu


aside.secondary{
	padding-top: 20px;
	
	nav.post-actions-menu{
		display: none;

		@include media($tablet-landscape) {
			display: block;
		}
	}

	.venue-information{
		background: $color-turqoise;
		padding: rem(10) rem(20) rem(20);
		color: $color-white;
		margin: 0 0 rem(30);

		.h2{
			font-family: $font-ostrich-rounded;
			font-size: rem(44);
			color: $color-white;
		}
		
		address{
			font-style: normal;
			font-size: rem(15);
			line-height: 1.2;
			margin: 6px 0 14px;
		}

		p{
			font-size: rem(15);
			line-height: 1.2;
			text-align: justify;
		}

		iframe{
			height: 257px;
		}
	}//.venue-information

	.te-socials{
		margin: 0 0 rem(30);
	}

	.te_countdown_clock_widget{
		margin: 0 0 36px;
		
		.h2{
			font-size: rem(36);
			font-family: $font-ostrich-rounded;
			color: $color-purple;
			letter-spacing: 4px;
		}

		.clock-inner{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-around;
			align-items: stretch;
		}

		.clock-panel{
			flex: 1 1 auto;
			margin-right: 2px;
		}

		.clock-panel:last-child{
			margin-right: 0;
		}

		.number{
			background: $color-turqoise;
			color: $color-white;
			font-size: rem(45);
			display: block;
			text-align: center;
		}

		.label{
			font-size: rem(14);
			color: $color-mineshaft;
			display: block;
			text-align: center;
		}
	}

	.te-latest-events{
		background: $color-turqoise;
		color: $color-white;
		padding: 20px 20px 40px;
		margin: 0 0 38px;

		.h1{
			font-family: $font-ostrich-rounded;
			font-size: rem(44);
			margin: 0 0 20px;
			color: $color-white;
		}
		
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li{
			margin: 0 0 60px;
			@include clearfix;
		}

		.thumbnail{
			width: 91px;
			height: 91px;
			float: left;
			clear: left;
			margin: 0 16px 0 0;
		}

		.h3{
			font-size: rem(22);
			font-weight: 700;
			line-height: 1.25;
			font-family: $font-sans;
			color: $color-white;
			clear: none;
		}

		.time{
			display: block;
			clear: both;
		}

		.read-more{
			font-size: rem(18);
			color: $color-purple;
			text-decoration: none;

		}

		.more-events{
			color: $color-purple;
			text-decoration: none;
			font-size: rem(15);

			svg{
				fill: $color-purple;
				width: 31px;
				height: 30px;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
	}
	
	.share-page{
		margin-bottom: 32px;

		.h2{
			font-family: $font-ostrich-rounded;
			color: $color-purple;
			font-size: rem(44);
			display: block;
			text-align: center;
		}
	}

	.fb-page{
		height: 500px;
		margin-bottom: 50px;
		display: none;

		@include media($tablet-landscape) {
			display: block;
		}
	}

	//--MailChimp Widget
	.widget_caldera_forms_widget:first-child{
		margin-top: 80px;
	}

	.widget_caldera_forms_widget{
		background: $color-purple;
		color: $color-white;
		padding: 13px 13px 28px;
		text-align: center;

		h3.widget-title{
			color: $color-white;
			font-size: rem(38);
			text-align: center;
			margin: 10px 0 10px;
			padding-left: 46px;
		}

		.preamble{
			font-weight: 100;
			font-size: rem(16);
			margin: 0 0 20px;
		}

		.stamp-img{
			position: absolute;
			left: -40px;
			top: -104px;
		}

		.row.last_row{
			position: relative;
		}
		
		.row.last_row .first_col{
			width: 100%;
			height: 56px;
			background: $color-white;
			border-radius: 40px;
		}

		.row.last_row .last_col{
			width: 0;
			position: initial;
		}

		.row.last_row input.form-control{
			position: absolute;
			left: 2%;
			top: 11px;
			height: 30px !important;
			width: 68%;
		}

		.row.last_row input.btn{
			position: absolute;
			right: 0;
			top: 15px;
			background: $color-turqoise url(assets/images/svg-icons/airplane.svg) 50% 50% no-repeat;
			background-size: 35px 29px;
			border: $color-turqoise;
			width: 30%;
			height: 56px;
			border-radius: 40px;
			color: transparent;
			text-indent: -999999px;

			@include media($tablet-portrait){
				top: 0;
			}

			&:hover,
			&:active,
			&:focus{
				background: darken( $color-turqoise, 10%) url(assets/images/svg-icons/airplane.svg) 50% 50% no-repeat;
				background-size: 35px 29px;
			}
		}
	}

}