.featured-articles{	
	padding: 0 0 70px;
	
	.wrap{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.heading{
		width: 100%;
		position: relative;
		margin: 0 0 40px;
	}

	.h1{
		font-family: $font-ostrich-rounded;
		font-size: rem(44);
		text-align: center;
		display: block;
		width: 280px;
		margin: 0 auto;
		color: $color-purple;
		//position: relative;
		background: $color-white;

		&:after{
			content: '';
			position: absolute;
			top: 22px;
			left: 0;
			height: 1px;
			width: 100%;
			background: $color-purple;
			z-index: -1;
		}
	}

	article{
		flex: 0 1 auto;
		width: 264px;
		margin: 0 auto 40px;		
	}
	
	.post-thumb-default{
		background: $color-alto;
		display: block;
		text-align: center;
		width: 264px;
		height: 175px;
		display: flex;
		flew-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.post-thumb-default,
	.post-thumb{
		margin: 0 0 14px;
	}

	.post-thumb-default svg{
		width: 109px;
		height: 107px;
		fill: $color-white;
	}

	.post-title{
		color: $color-black;
		text-decoration: none;
	}

	.post_author{
		color: $color-purple;
		text-decoration: none;
	}
}