.banner{
	height: 394px;
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	position: relative;

	@include media($tablet-portrait){
		height: 568px;
	}

	.heading-wrap{
		background: $color-white;
		align-self: flex-end;
		width: auto;
		padding: rem(16) rem(20) 0;
		margin: 0 rem(17) -42px;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		@include media($tablet-portrait){
			width: rem(712);
			left: 50%;
			margin-left: -#{rem(356)};
		}
	}

	h1,
	.h1{
		color: $color-purple;
		font-weight: 100;
		text-transform: uppercase;
		font-family: $font-ostrich-medium;
		font-size: rem(48);
		margin: 0;

		@include media( $tablet-portrait ){
			font-size: rem(56);
		}
	}

	.page-type{
		color: $color-dove-gray;
		font-style: italic;
		font-weight: 100;
	}

	.company-website{
		font-size: rem(15);
		color: $color-turqoise;
	}
}

/**
 * THE EXPERIENCES PAGE BANNER
 */
.banner.experience-hero-banner{
	flex-wrap: wrap;
	align-items: center;

		
	header,
	.header{
		text-align: center;
		width: 100%;
		margin: 0;

		@include media($tablet-portrait){
			margin: 70px 0 0;
		}
	}

	header h1.page-title,
	.header .h1.page-title{
		font-family: $font-script;
		font-size: rem(83);
		color: $color-white;
		text-transform: capitalize;
		word-spacing: -16px;

		@include media($tablet-portrait){
			font-size: rem(100);
		}
	}
}


/**
 * THE WINERY/BREWERY PROFILES BANNER
 */
.banner.profile-hero-banner{
	flex-wrap: wrap;
	align-items: center;

	&::after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .4);
		z-index: 0;
	}
	
	.logo-wrap{
		position: relative;
		z-index: 1;
		width: 100%;
		text-align: center;
		margin: 0;
	}
	
	.heading-wrap{
		position: relative;
		z-index: 1;
		align-self: center;
		padding: rem(16) rem(20) rem(20);
		margin: 0 rem(17) -42px;
		position: absolute;
		bottom: 0;
		left: 0;

		@include media($tablet-portrait){
			width: rem(712);
			left: 50%;
			margin-left: -#{rem(356)};
		}
	}

	header,
	.header{
		text-align: center;
		width: 100%;	
	}

	header h1.page-title,
	.header .h1.page-title{
		font-family: $font-ostrich-medium;
		font-size: rem(56);
		color: $color-purple;
		text-transform: capitalize;
	}
}


/**
 * THE HOME PAGE BANNER
 */
.home-hero-banner{
	height: 500px;

	@include media($tablet-portrait){
		height: 771px;
	}

	.page-title{
		color: $color-white;

		.roboto{
			font-family: $font-sans;
			font-weight: 100;
			font-size: rem(43);

			@include media($tablet-portrait){
				font-size: rem(86);
			}
		}

		.new-shine{
			font-size: rem(94);
			font-family: $font-script;
			display: block;
			line-height: .5;

			@include media($tablet-portrait){
				font-size: rem(188);
			}
		}
	}

	.h2{
		color: $color-white;
		padding: 0 10%;
		display: block;
		text-align: center;		
		font-size: rem(20);
		font-family: $font-sans;
		font-weight: 300;
		line-height: 1.2;

		@include media( $phone-landscape ){
			line-height: 1.5;
			font-size: rem(26);
			padding: 0 20%;
		}
	}
}



/**
 * THE TOP LEVEL PAGES BANNER
 */
.top-level-hero-banner{
 	flex-wrap: wrap;
	align-items: center;

		
	header,
	.header{
		text-align: center;
		width: 100%;
		margin: 0;

		@include media($tablet-portrait){
			margin: 70px 0 0;
		}
	}
	
	header h1.page-title,
	.header .h1.page-title{
		font-family: $font-script;
		font-size: rem(83);
		color: $color-white;
		text-transform: capitalize;

		@include media($tablet-portrait){
			font-size: rem(100);
		}
	}
}




.banner.banner-404{
 	background: $color-turqoise;
 	height: auto;
 	padding: 80px 0 40px;

 	.wrap{
 		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
 	}
	

 	.text{
 		width: 100%;

 		@include media( $tablet-portrait){
			width: 50%;
 		}
 	}

 	img{
 		width: 120px;
 		margin: 0 0 40px;

 		@include media( $tablet-portrait){
			width: auto;
			margin-right: 40px;
 		}
 	}
	
	.h1{
		font-size: rem(40);
		color: $color-white;

		@include media( $tablet-portrait){
			font-size: rem(80);
		}
	}

 	.h2{
 		font-size: rem(30);
 		color: $color-white;

 		@include media( $tablet-portrait){			
			font-size: rem(56);			
 		}
 	}

 	.h1.new-shine{
 		font-family: $font-script;
 		text-transform: capitalize;
 	}

 	.h2 .new-shine{
		font-family: $font-script;
		text-transform: lowercase;
 	}

 	.h2 a{
 		color: $color-white;
 		font-size: rem(36);

 		@include media( $tablet-portrait){
			font-size: rem(80);
		}
 	}
}

.search-results .banner{
	align-items: center;

	& > .header .h1.page-title{
		font-family: $font-script;
		font-size: rem(83);
		color: $color-white;
		text-transform: capitalize;
		word-spacing: -16px;

		@include media($tablet-portrait){
			font-size: rem(100);
		}
	}

	a{
		text-decoration: none;
		font-size: rem(15);
		display: none;
	}

	.result-link-pipe{
		display: none;
	}
}