//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

.comments-title {
	font-size: rem(24);
}

.comment-list {
	list-style: none;
	margin: 0;
}

.comment-meta {
	margin: 0 0 rem(14) 0;
}

.avatar {
	float: left;
	margin: 0 rem(10) 0 0;
}

.bypostauthor {
	display: block;
}

.comments-fb{
	//using the ampersand, just incase the FB comments
	//iframe comes with headers and h2s.

	& > header{ 
		position: relative;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 15px;
			width: 100%;
			height: 1px;
			background: $color-silver;
			z-index: 0;
		}
	}

	& > header h2 {
		color: $color-purple;
		font-family: $font-ostrich-rounded;
		font-weight: 100;
		font-size: rem(30);		
		background: $color-white;
		display: inline;
		position: relative;
		z-index: 1;
		padding-right: 10px;
	}
}