//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages



.sticky {
	display: block;
}

.hentry {
	margin: 0 0 rem(24) 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
}

.edit-link {
	margin: 0 rem(24);
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

#breadcrumbs{
	color: $color-gray;
	font-style: italic;
}

.media-kit-wrap{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 60px auto 100px;
	width: 80%;
	position: relative;

	@include media($phone-landscape){
		width: 500px; //probably not the best way to do this
		justify-content: space-around;			
	}

	.h1{
		font-size: rem(56);
		margin:0 0 20px;
		width: 100%;
		text-align: center;

		@include media($phone-landscape){
			width: auto;
			text-align: left;
			margin: 0;
		}
	}

	.media-btn{
		//padding: 10px 20px 10px 46px;

		svg{
			fill: $color-white;
			width: 21px;
			height: 21px;
			margin-right: 10px;
			vertical-align: sub;
		}
	}

	svg.fancy-arrow{
		position: absolute;
		z-index: 2;
		left: -54px;
		top: 44px;
		width: 67px;
		height: 195px;
	}
}