/* THE FILTER ICONS */
.facet-filter-wrap .facetwp-facet{
	@include clearfix;
	margin-top: 20px;
}

.facet-filters-wrap .facetwp-checkbox,
.facetwp-type-checkboxes .facetwp-checkbox{
	background: none;
	background-repeat: no-repeat;
	background-position: 50% 0;	
	background-size: 56px 56px;	
	min-height: 56px;
	min-width: 56px;
	padding: 58px 0 0;
	text-align: center;
	display: inline-block;
	margin-right: 30px;
	font-size: rem(13);
	margin-bottom: 20px;
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="hotels-lodging"]{
	background-image: url(assets/images/te-filter-icon-accommodation-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="corporate-chain"]{
	background-image: url(assets/images/te-filter-icon-chain-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="clubs-night-life"]{
	background-image: url(assets/images/te-filter-icon-clubs-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="dog-friendly"]{
	background-image: url(assets/images/te-filter-icon-dog-friendly-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="budget-friendly"]{
	background-image: url(assets/images/te-filter-icon-economical-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="venues"]{
	background-image: url(assets/images/te-filter-icon-event-venue-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="family-friendly"]{
	background-image: url(assets/images/te-filter-icon-family-friendly-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="family-owned"]{
	background-image: url(assets/images/te-filter-icon-family-owned-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="full-bar"]{
	background-image: url(assets/images/te-filter-icon-full-bar-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="golf-courses"]{
	background-image: url(assets/images/te-filter-icon-golf-course-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="gyms"]{
	background-image: url(assets/images/te-filter-icon-gym-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="high-end"]{
	background-image: url(assets/images/te-filter-icon-higher-end-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="historic"]{
	background-image: url(assets/images/te-filter-icon-historic-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="local-favorites"]{
	background-image: url(assets/images/te-filter-icon-inside-scoop-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="live-music-entertainment"]{
	background-image: url(assets/images/te-filter-icon-live-entertainment-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="misc"]{
	background-image: url(assets/images/te-filter-icon-misc-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="new-grand-openings"]{
	background-image: url(assets/images/te-filter-icon-new-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="outdoors"]{
	background-image: url(assets/images/te-filter-icon-outdoor-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="pools"]{
	background-image: url(assets/images/te-filter-icon-pool-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="restaurants"]{
	background-image: url(assets/images/te-filter-icon-restaurant-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="transportation"]{
	background-image: url(assets/images/te-filter-icon-shuttle-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="spas"]{
	background-image: url(assets/images/te-filter-icon-spa-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="tasting-rooms"]{
	background-image: url(assets/images/te-filter-icon-tasting-room-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="tours"]{
	background-image: url(assets/images/te-filter-icon-tours-b.png);
}

.facetwp-type-checkboxes .facetwp-checkbox[data-value="wedding-venues"]{
	background-image: url(assets/images/te-filter-icon-wedding-venue-b.png);
}