//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
footer.site-footer{
	background: $color-purple;
	text-align: center;
	padding: 30px 0;
	color: $color-white;

	.site-logo,
	.site-logo use{
		fill: $color-white;
		width: 270px;
		height: 56px;
	}

	.ssm-wrapper{
		margin: 0 0 30px;
	}

	.footer-navigation-primary{
		margin: 0 0 30px;

		@include media($tablet-landscape){
			display: none;
		}

		ul{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li{
			width: 50%;
			margin: 0 auto 10px;
		}

		a{
			color: $color-white;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	
	.footer-navigation-secondary{
		margin: 0 0 30px;

		ul{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			padding: 0;
			margin: 0;
			list-style: none;
		}				

		li{
			border-right: 1px solid $color-white;
			padding: 0 rem(10);
			line-height: 1;
		}

		li:last-child{
			border-right: none;
		}

		a{
			color: $color-white;
			font-weight: 300;
			font-size: rem(14);
			text-decoration: none;
		}
	}

	.site-copyright{
		font-size: rem(14);
	}
}