//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none; // Remove iOS styles
	background-color: $color-button-background;
	border: none;
	border-radius: 0;
	color: $color-button-text;
	min-height: rem(31);
	vertical-align: top;

	&:hover {
		background-color: $color-button-background-hover;
	}

	&:active,
	&:focus {
		background-color: $color-button-background-hover;
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; // Addresses excess padding in IE8/9
}

// remove the clear x icon in IE
input[type="text"]::-ms-clear,
input[type="search"]::-ms-clear {
	display: none;
}

input[type="search"] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	&::-webkit-search-decoration { // Corrects inner padding displayed oddly in S5, Chrome on OSX
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	-webkit-appearance: none; // Remove iOS styles
	color: $color-input-text;
	border: 1px solid $color-white  !important; //override caldera
	border-radius: 4px !important; //override caldera
	line-height: 1.45;
	padding: rem(14) rem(10) !important; //override caldera
	box-shadow: none !important; //override caldera
	font-size: rem(18) !important; //override caldera
	height: auto !important; //override caldera

	&:focus {
		color: $color-input-focus-text;
	}
}

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
}


.caldera-grid .form-group label{
	font-weight: 400;
}

.search-form{
	width: 70%;
	margin: 0 auto;

	input{
		background: $color-gallery;
		color: $color-black;
		width: 70%;
	}
	button{
		background: $color-purple;
		padding: 14px 10px 13px;

		
		&:hover,
		&:active,
		&:focus{
			background: darken( $color-purple, 10%);
		}
	}
}

.submit-arrow{
	width: 88px;
	margin: 0 auto;
	position: relative;	
	display: block;

	@media (min-width: 390px){
		display: inline-block;
		float: right;
		margin-right: 20px;
	}

	input[type="submit"]{
		background: $color-dark-turqoise;
		color: $color-turqoise;
		border: $color-dark-turqoise;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px 14px;
		font-family: $font-sans;
		font-size: rem(18);					
		border-radius: 0;
		display: block;
		width: 100%;
	}
	&:after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 22.5px 0 22.5px 20px;
		border-color: transparent transparent transparent $color-dark-turqoise;
		position: absolute;
		top: 0;
		right: -20px;
	}

	&:hover,
	&:active,
	&:focus{
		input[type="submit"]{
			background: darken($color-dark-turqoise, 10%);
		}

		&:after{
			border-color: transparent transparent transparent darken($color-dark-turqoise, 10%);
		}
	}
}