/*
 * THE WIDTH SHOULD MATCH THE MASONRY SCRIPT'S WIDTH
 * SEE VARIABLE `gridColWidth` IN FILE /INC/SCRIPTS.PHP LINE 230
 **/
$gridMargin: 10px;

//MOBILE GRID SIZES
$smallMobileW: 128px;
$smallMobileH: 165px;
$largeMobileW: ($smallMobileW*2) + $gridMargin;
$largeMobileH: ($smallMobileH*2) + $gridMargin;

//DESKTOP GRID SIZES
$smallDesktopW: 240px;
$smallDesktopH: 250px;
$largeDesktopW: ($smallDesktopW*2) + $gridMargin;
$largeDesktopH: ($smallDesktopH*2) + $gridMargin;


/* THE TILES */
.facetwp-template,
.local-favorites-tiles,
.escapes-choice-tiles,
.tax-tiles,
.happenings-results-tiles,
.search-tiles{
	@include clearfix;
	margin: 0 auto;

	@media (min-width: 582px){
	//	width: 510px;
	}

	@media (min-width: 811px){
		width: 100%;
		margin: 0;
	}


	&.wrap{
		padding-left: 0;
		padding-right: 0;

		@include media($tablet-portrait){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
	.caldera-clarity-column{
		display: none;
	}

	.caldera-clarity-grid,
	.masonry-tiles{
		margin: 0 auto;
	}

	.masonry-grid-item{
		background: $color-turqoise;
		margin-bottom: $gridMargin;
		float: left;		
		color: $color-white;
		position: relative;
		background-position: 50% 50%;		

		@include media($tablet-landscape){
			overflow: hidden;
		}
	}

	.masonry-grid-item-overlay{ 
		// content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 -100px 80px -40px $color-black;
		z-index: 1;
		background: transparent;
		transition: background .2s ease-out;
	}

	.grid-inner{
		padding: 8px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		position: relative;
		width: 100%;
		height: 100%;

		@include media($tablet-portrait){
			padding: 22px;
		}
	}

	.masonry-grid-item.standard,
	.masonry-grid-item.default,
	.grid-sizer{
		height: $smallMobileH;
		width: $smallMobileW;
	
		@media (min-width: 768px){ //ipad portrait
			height: $smallDesktopH;
			width: $smallDesktopW;
		}

	}

	.masonry-grid-item.upgraded{
		height: $largeMobileH;
		width: $smallMobileW;
		
		@media (min-width: 768px){ //ipad portrait
			height: $largeDesktopH;
			width: $smallDesktopW;
		}
	}

	.masonry-grid-item.upgraded-alt{
		width: $largeMobileW;
		height: $smallMobileH;
		background-size: cover;

		@media (min-width: 768px){ //ipad portrait
		 	height: $smallDesktopH;
		 	width: $largeDesktopW;
		}
	}

	.masonry-grid-item.premium{
		width: $largeMobileW;
		height: $largeMobileH;
		background-size: cover;

		@media (min-width: 768px){
			height: $largeDesktopH;
			width: $largeDesktopW;
		}
	}

	.masonry-grid-item a.title{
		color: $color-white;
		text-decoration: none;
		font-size: rem(18);
		line-height: 1.2;
		position: relative;
		z-index: 2;
		transition: all .2s ease-out;
		display: block;

		@include media($tablet-portrait){
			font-size: rem(20);
		}
	}

	.masonry-grid-item .term-name{
		text-transform: uppercase;
		font-size: rem(16);
		position: relative;
		z-index: 2;
	}

	.grid-sizer{
		display: none;
		width: 128px;

		@media (min-width: 768px){
			width: 230px;
		}
	}
}

.search-results .search-tiles{
	//see views/_happenings.scss for more styles
	.masonry-grid-item.standard,
	.masonry-grid-item.default,
	.grid-sizer{
		width: 48%;
		height: 165px;

		//@media (min-width: 570px) and (max-width: 735px){
		background-size: cover;
		//}

		@media (min-width: 736px){ //iphone 6+ landscape
			width: 29%;
		}
	
		@media (min-width: 768px){ //ipad portrait
			width: 24%;
			height: 250px;
		}

		@include media($tablet-portrait){
			width: 32%;
		}

		@include media($tablet-landscape){
			width: 32%;
		}
	}
}

//GRID HOVERS
.masonry-grid-item:hover,
.masonry-grid-item:active,
.masonry-grid-item:focus{
	@include media($tablet-landscape){
		.masonry-grid-item-overlay{
			background: rgba(0,0,0,.5);
		}
	}
	
	.grid-item-share-text{
		@include media($tablet-landscape){
			transform: translate(0, -64px);
		}
	}

	.title{
		@include media($tablet-landscape){
			transform: translate(0, -50px);
		}
	}

	.fav-hover-icon{
		@include media($tablet-landscape){
			animation-duration: .2s;
			animation-name: floatUp;
			animation-delay: .1s;
			animation-fill-mode: both;
		}
	}

	.email-hover-icon{
		@include media($tablet-landscape){
			animation-duration: .2s;
			animation-name: floatUp;
			animation-delay: .15s;
			animation-fill-mode: both;
		}
	}

	.tw-hover-icon{
		@include media($tablet-landscape){
			animation-duration: .2s;
			animation-name: floatUp;
			animation-delay: .2s;
			animation-fill-mode: both;
		}
	}

	.fb-hover-icon{
		@include media($tablet-landscape){
			animation-duration: .2s;
			animation-name: floatUp;
			animation-delay: .25s;
			animation-fill-mode: both;
		}
	}
	
	//ROTATE THE PURPLE HOVER THING
	.grid-inner:after{
		@include media($tablet-landscape){
			transform: rotate(65deg);
		}		
	}

	.grid-item-read-more{
		@include media($tablet-landscape){
			transform: translate(0, -155px);
			display: none;
		}
	}


}

.masonry-grid-item.share-on{
	.masonry-grid-item-overlay.share-on{
		background: rgba(0,0,0,.5);
	}
}


//SET-UP THE HOVER ITEMS GENERIC
.masonry-grid-item{
	cursor: pointer;
	
	//THE PURPLE HOVER THING
	.grid-inner:after{ 
		@include media($tablet-landscape){
			position: absolute;	
			content: '';
			background: $color-purple;
			width: 200%;
			height: 450%;
			z-index: 50;
			transform-origin: 0 100%;
			left: 0;
			bottom: 0;
			transform: rotate(90deg);
			transition: all .2s ease-out;
		}
	}

	.grid-item-share-icons{
		//background: $color-purple;
		width: 100%;
		position: absolute;
		//z-index: -1;
		//bottom: -108px;
		//left: 0;
		text-align: center;
		padding: 0 8px 8px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		transition: transform .2s ease-out;
		//transform: translateY(-138px);
		display: none;

		@include media( $tablet-landscape ){
			z-index: 51;
			background: none;
			bottom: 0;
			left: 0;
			transform: translateY(0);
			display: block;
		}
	}

	.grid-item-share-icons.share-on{
		transform: translateY(0);
		z-index: 50;
	}
	
	.grid-item-share-text{
		//font-size: rem(12);
		display: block;
		padding: 7px;
		text-align: left;
		//width: 100%;

		@include media( $tablet-landscape ){
			position: absolute;
			z-index: 60;
			bottom: -30px;
			transition: all .2s ease-out;
			text-transform: uppercase;
			font-size: rem(16);
			width: auto;
		}
	}

	.hover-icon{		
		transition: all .2s ease-out;

		@include media( $tablet-landscape ){
			position: absolute;
			z-index: 60;
			bottom: -30px;
		}
	
		svg{
			fill: $color-white;
		}
	}

	.fb-hover-icon svg{
		width: 11px;
		height: 23px;		
	}

	.tw-hover-icon svg{
		width: 28px;
		height: 23px;	
	}

	.email-hover-icon svg{
		width: 28px;
		height: 23px;
	}

	.fav-hover-icon svg{
		width: 28px;
		height: 23px;		
	}

	.grid-item-read-more{
		position: absolute;
		//z-index: -1;
		//right: 0;
		bottom: -38px;
		background: $color-turqoise;
		color: $color-white;		
		text-align: center;
		//width: 100%;
		font-size: rem(16);
		//padding: 7px;
		transition: transform .2s ease-out;
		//transform: translateY(-138px);
		display: none;

		@include media( $tablet-landscape ){			
			bottom: -50px;
			left: 50%;
			right: auto;
			transition: all .2s ease-out;			
			border-radius: 28px;			
			padding: 8px 20px;
			width: 170px;
			margin-left: -85px;
			text-decoration: none;
			z-index: 50;
			transform: translateY(0);
			display: block;
		}

		svg{
			display: none;

			@include media( $tablet-landscape ){
				width: 25px;
				height: 25px;
				fill: $color-white;
				vertical-align: middle;
				margin-right: 6px;
				display: inline-block;
			}
		}	
	}

	.grid-item-read-more.share-on{
		transform: translateY(0);
		z-index: 60;
	}
}

//TILE SIZE SPECIFIC HOVER ITEMS
.masonry-grid-item.standard,
.masonry-grid-item.default{
	.grid-item-share-text{
		right: 4px;
	}

	.fb-hover-icon{
		right: 110px;
	}

	.tw-hover-icon{
		right: 70px;
	}

	.email-hover-icon{
		right: 38px;
	}

	.fav-hover-icon{
		right: 4px;
	}
}

.masonry-grid-item.upgraded{
	.grid-item-share-text{
		right: 4px;
	}

	.fb-hover-icon{
		right: 110px;
	}

	.tw-hover-icon{
		right: 70px;
	}

	.email-hover-icon{
		right: 38px;
	}

	.fav-hover-icon{
		right: 4px;
	}
	
	&:hover,
	&:active,
	&:focus{
		.grid-inner:after{
			transform: rotate(65deg);
		}
	}
}

.masonry-grid-item.upgraded-alt{
	.grid-item-share-icons{
		width: 60%;
		bottom: -69px;

		@include media( $tablet-landscape ){
			width: 100%;
			bottom: 0;
		}
	}

	.grid-item-read-more{
		width: 40%;
		padding: 23px 7px;
		bottom: -69px;

		@include media( $tablet-landscape ){
			width: 170px;
			padding: 8px 20px;
			bottom: -50px;
		}
	}

	.grid-item-share-text{
		right: 24px;
	}

	.fb-hover-icon{
		right: 160px;
	}

	.tw-hover-icon{
		right: 110px;
	}

	.email-hover-icon{
		right: 68px;
	}

	.fav-hover-icon{
		right: 24px;
	}

	&:hover,
	&:focus,
	&:active{
		.grid-inner:after{
			transform: rotate(80deg);
		}
	}
}

.masonry-grid-item.premium{
	.grid-item-share-icons{
		width: 60%;
		bottom: -69px;

		@include media( $tablet-landscape ){
			width: 100%;
			bottom: 0;
		}
	}

	.grid-item-read-more{
		width: 40%;
		padding: 23px 7px;
		bottom: -69px;

		@include media( $tablet-landscape ){
			width: 170px;
			padding: 8px 20px;
		//	bottom: 0;
		}
	}

	.grid-item-share-text{
		right: 24px;
	}

	.fb-hover-icon{
		right: 160px;
	}

	.tw-hover-icon{
		right: 110px;
	}

	.email-hover-icon{
		right: 68px;
	}

	.fav-hover-icon{
		right: 24px;
	}

	&:hover,
	&:active,
	&:focus{
		.grid-inner:after{
			transform: rotate(75deg);
		}
		.grid-item-share-text{
			@include media( $tablet-landscape ){
				transform: translate(0, -85px);
			}
		}

		.title{
			@include media( $tablet-landscape ){
				transform: translate(0, -70px);
			}
		}
		.fav-hover-icon{
			animation-name: floatUpHigher;			
		}

		.email-hover-icon{
			animation-name: floatUpHigher;			
		}

		.tw-hover-icon{
			animation-name: floatUpHigher;			
		}

		.fb-hover-icon{
			animation-name: floatUpHigher;			
		}
		.grid-item-read-more{
			@include media( $tablet-landscape ){
				//transform: translate(0, -285px);
			}
		}
	}
}



@keyframes floatUp {
	0%{
		transform: translate(0, 0);
	}

	100%{
		transform: translate(0, -34px);
	}
}

@keyframes floatUpHigher {
	0%{
		transform: translate(0, 0);
	}

	100%{
		transform: translate(0, -54px);
	}
}