//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

header.site-header{	
	//@include media($tablet-landscape){
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100;
	//}


	.header-top{
		background: $color-turqoise;
		height: 51px;

		@include media($tablet-landscape){
			background: $color-white;
			height: auto;
			padding: 27px 0 17px;
		}
	}
	
	.header-top .wrap{
		@include clearfix;
	}
	
	.logo-wrap{
		padding-top: 9px;

		@include media($tablet-landscape){
			float: left;
			padding-top: 0;
		}
	}
	
	.site-title{
		width: 165px;
		height: 34px;	
		display: block;
		margin: 0 auto;

		@include media($tablet-landscape){
			width: 307px;
			height: 64px;
			margin: 0;
		}
	}
	.site-title svg{
		width: 165px;
		height: 34px;	
		display: block;

		@include media($tablet-landscape){			
			width: 307px;
			height: 64px;			
		}
	}

	.toggle-navigation{
		position: absolute;
		right: 20px;
		top: 12px;
		width: 27px;
		height: 27px;
		transform: rotate(180deg);

		@include media($tablet-landscape){
			display: none;
		}

		svg{
			display: block;
			width: 27px;
			height: 27px;
			fill: $color-purple;
		}
	}

	nav.account-navigation{
		margin: 30px 0 0;
		display: none;

		@include media($tablet-landscape){
			float: right;
			margin: 0;
			display: block;
		}

		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}

		li{
			margin-left: 22px;
		}

		li:first-child{
			margin-left: 0;
		}

		a{
			text-align: center;
			text-decoration: none;
			font-size: rem(16);
			color: $color-black;
		}

		svg{
			display: block;
			margin: 0 auto;
		}

		a span{
			display: block;
		}

		.account-item-account svg{
			width: 22px;
			height: 25px;
		}

		.account-item-favorites svg{
			width: 29px;
			height: 26px;
		}

		.account-item-itinerary svg{
			width: 30px;
			height: 30px;
		}

		li:hover a,
		li:active a,
		li:focus a{
			color: $color-purple;
		}

		li:hover svg,
		li:active svg,
		li:focus svg{
			fill: $color-purple;
		}
	}

	nav.main-navigation{
		background: $color-white;
		//display: none;
		
		@include media($tablet-landscape){
			display: block;
			background: rgba($color-purple, .5);
		}
	}	
	
}