//--------------------------------------------------------------
// Contact Banner
//--------------------------------------------------------------
.contact-footer{
	background-position: 50% 50%;
	background-size: cover;
	padding: 50px 0;
	position: relative;

	@media (min-width: 824px){
		padding: 120px 0 172px;
	}

	.form-wrap{
		background: $color-turqoise;
		border-radius: 26px;
		padding: 30px 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

		@media (min-width: 824px){
			flex-direction: row;
			justify-content: center;
		}
	}
	
	header{
		background: url( 'assets/images/wine-mosaic-wallpaper-seamless.jpg' ) 50% 100% repeat-x;
		background-size: auto 127px;
		padding-bottom: 110px;
		

		@media (min-width: 824px){
			padding: 30px 30px 110px;
			background-size: auto 331px;
			flex: 0 1 50%;
		}
	}

	h1{
		color: $color-white;
		text-align: center;
		font-weight: 300;
		
	}

	.ostrich{
		font-family: $font-ostrich-rounded;
		text-transform: uppercase;
		font-size: rem(52);
	}

	.new-shine{
		font-family: $font-script;
		font-size: rem(80);
		margin-left: -16px;
	}
	
	//form wrapper
	.caldera-grid{
		padding: 0 20px;
		margin-top: 20px;

		@media (min-width: 824px){
			flex: 0 1 50%;
			border-left: 1px solid $color-white;
			padding: 100px 26px 0;
			background: url( 'assets/images/letter-stamp.jpg' ) 90% 0% no-repeat; 
		}
	}

	label{
		color: $color-dark-turqoise;
	}

	//the mailing list checkbox
	.mailing_wrapper{
		display: flex;
		width: 100%;
		flex-wrap: no-wrap;
		flex-direction: row;
		justify-content: center;
		
		@media (min-width: 390px){
			width: auto;
			display: inline-flex;
			justify-content: flex-start;
		}

		label{
			order: 1;
			font-weight: 400;
		}
		&>div{
			order: 0;
		}
		div.checkbox{
			margin: 0;
		}
		input[type="checkbox"]{
			@include size(25px);
		}
	}	
	
	.caldera-grid textarea.form-control {
		height: 100px !important;
	}

	.footer-navigation-primary{
		display: none;
		background: rgba(0,0,0,.7);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		
		ul{
			display: flex;
			flex-wrap: no-wrap;		
			flex-direction: row;
			justify-content: center;
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li{
			margin: 0 45px;
			padding: 14px 0;
		}

		a{
			color: $color-white;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
		}

		@media (min-width: 824px){
			display: block;
		}
	}
}