//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(30) rem(30));

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				}
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		}
	}
}


.ssm-wrapper{
	.msg{
		text-align: center;
		color: $color-white;
	}

	span.msg{
		display: block;
		font-weight: 700;
	}

	nav.ssm-navigation{

	}

	ul.ssm-menu{
		list-style: none;
		text-align: center;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}

	li.ssm-item{
		width: 50px;		
		margin: 20px 8px 0;
	}

	a{
		display: block;
		width: 50px;
		height: 50px;
		color: $color-white;
	}

	svg,
	use{
		display: inline;
		position: relative;
		width: 50px;
		height: 50px;
		fill: $color-white;
	}
}