//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	display: none;

	&.on{
		display: block;
	}

	& > .wrap{		
		@media(max-width: $tablet-landscape){
			-webkit-overflow-scrolling: touch;
		    overflow: scroll;
		    overflow-x: hidden;
		    overflow-y: auto;
		    height: 100vh;
		    padding-bottom: 200px;
		}
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: block;
	}

	a{
		text-decoration: none;
		color: $color-black;
		display: block;
		//padding: rem(10) 0;
	}
	
	.nav-item-search svg{
		fill: $color-white;		
		width: 26px;
		height: 26px;
	}

	.nav-item-search:hover svg,
	.nav-item-search:active svg,
	.nav-item-search:focus svg{
		fill: $color-purple;	
	}

	//TOP-LEVEL ITEMS
	.top-level{
		background: $color-white;

		@include media($tablet-landscape){
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			background: none;
		}

		& > li{
			border-bottom: 1px solid $color-alto;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			//position: relative;

			@include media($tablet-portrait){
				padding: rem(10) rem(24);
			}

			@include media($tablet-landscape){				
				flex: auto;
				border-bottom: none;		
				padding: rem(10) rem(13);
				height: 54px;

				&:hover,
				&:active,
				&:focus{
					background: $color-white;
				}	

				&:hover > a,
				&:active > a,
				&:focus > a{
					color: $color-purple;
				}
		
				&:hover > a > svg,
				&:active > a > svg,
				&:focus > a > svg{
					fill: $color-purple;
				}
			}

			@media (min-width: 1368px){
				padding: rem(10) rem(23);
			}
		}

		& > li:last-child{
			border-bottom: none;

			@include media($tablet-landscape){
				&> a:after{
					display: none;
				}
			}
		}

		& > li > a{
			font-weight: 700;
			position: relative;
			flex: 10;

			@include media($tablet-landscape){
				color: $color-white;
				font-weight: 400;
				text-transform: uppercase;
				text-align: center;
				width: 100%;				
				
				&:after{
					content: '';
					width: 1px;
					height: 16px;
					background: $color-white;
					right: -#{rem(13)};
					top: 50%;
					margin-top: -8px;
					position: absolute;
				}
			}

			@media (min-width: 1368px){
				&:after{
					right: -#{rem(23)};
				}
			}
		}
		
		
		li.nav-item-has-children.selected,
		li.nav-item-experience.selected{
			//position: relative;
			@include media($tablet-landscape){	
				background: $color-turqoise;
				box-shadow: 0 4px 8px -4px $color-black;

				& > a{
					color: $color-white;
				}
				
			}
		}

		li.nav-item-has-children.selected > a:before,
		li.nav-item-experience.selected > a:before{
			@include media($tablet-landscape){		
				content: '';
				position: absolute;
				z-index: 1000000;
				bottom: -28px;
				left: 50%;
				margin-left: -20px;
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 16px solid $color-turqoise;
			}
		}
		
		//--THE EXPERIENCE NAV ITEM
		li.nav-item-experience{
			@include media($tablet-landscape){	
				position: relative;
			}
		}
		li.nav-item-experience svg.experience-icon{
			fill: $color-purple;
			margin-right: 24px;
			width: 26px;
			height: 26px;
		}

		li.nav-item-experience .sub-nav{
			width: 100vw;

			@include media($tablet-landscape){
				top: 54px;
				width: 100%;
			}
		}
		
		li.nav-item-experience.nav-open > .sub-nav{
			//left: -27px;
		}

		li.nav-item-experience:hover > .sub-nav{		
			@include media($tablet-landscape){
				left: 0;
				padding: 10px 0 0;
				z-index: 9;
			}
		}

		li.nav-item-experience:hover > .sub-nav .wrap{
			//padding: 0;
			width: 100%;

			@include media($tablet-landscape){
				width: auto;
				padding: 0;
			}
		}

		li.nav-item-experience:hover > .sub-nav ul{
			width: 100%;
		}

		li.nav-item-experience:hover > .sub-nav li{
			border-bottom: 1px solid $color-alto;
			padding: 15px 0;

			@include media($tablet-landscape){
				border-bottom: none;
				padding: 0;
			}
		}

		li.nav-item-experience:hover .experience-mobile-back{
			background: $color-alto;
			text-align: center;
			position: relative;
			padding: 11px 20px !important;

			@include media($tablet-landscape){
				display: none;
			}

			svg{
				transform: rotate(180deg);
				fill: $color-purple;
				width: 13px;
				height: 15px;
				position: absolute;
				left: 10px;
				top: 50%;
				margin-top: -7px;

				@include media($tablet-landscape){
					display: none;
				}
			}
		}

		li.nav-item-experience:hover > .sub-nav li:hover,
		li.nav-item-experience:hover > .sub-nav li:active,
		li.nav-item-experience:hover > .sub-nav li:focus{
			background: $color-purple;
		}

		li.nav-item-experience:hover > .sub-nav li:hover a,
		li.nav-item-experience:hover > .sub-nav li:active a,
		li.nav-item-experience:hover > .sub-nav li:focus a{
			color: $color-white;
		}

		li.nav-item-experience:hover > .sub-nav li:hover svg,
		li.nav-item-experience:hover > .sub-nav li:active svg,
		li.nav-item-experience:hover > .sub-nav li:focus svg{
			fill: $color-white;
		}

		li.nav-item-experience:hover > .sub-nav a{
			//padding: 6px 14px;

			@include media($tablet-landscape){
				padding: 6px 14px;
			}

			@include media($desktop){
				padding: 6px 34px;
			}
		}

		//-- THE SEARCH MENU ITEM
		.nav-item-search{
			display: none;

			@include media($tablet-landscape){
				display: flex;
			}
		}

		.submenu-toggle{
			color: $color-purple;
			display: block;
			transform-origin: 50% 50%;
			transition: all .2s ease-out;
			padding: rem(20);
			flex: 1;

			svg{
				fill: $color-purple;
				width: 13px;
				height: 15px;
			}

			@include media($tablet-landscape){
				display: none;
			}
		}
	}
	
	//SUB-LEVEL ITEMS
	.sub-nav{
		background: $color-white;
		width: 200%;
		transform-origin: 50% 0;
		transition: all .2s ease-out;
		//transform: scaleY(0);
		//height: 0;
		opacity: 0;
		position: absolute;
		left: 100%;
		z-index: 1;
		top: 51px;
		padding: 0;
		overflow: scroll;
	    overflow-x: hidden;
	    overflow-y: auto;
	    height: 100vh;
	    padding-bottom: 100px;

		@include media($tablet-landscape){
			position: absolute;
			left: -999em;
			top: 162px;
			transform: scaleY(1);
			transition: none;
			height: initial;
			opacity: 1;
			z-index: 999999;
			width: 100vw;
			box-shadow: 0 6px 8px -4px rgba($color-black, .8);
			padding: rem(24) 0 rem(44);
			overflow: auto;
		    overflow-x: auto;
		    overflow-y: auto;
		}

		.wrap{
			padding: 10px 1.5em 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
			position: relative;
			width: 100vw;
			margin: 0;

			@include media($tablet-landscape){
				width: auto;
				flex-wrap: nowrap;
				flex-direction: row;
				margin-left: auto;
				margin-right: auto;
				padding: 0 1.5em;
			}
		}	
	}

	li.nav-open > .sub-nav.third-level{
		left: -100%;
	}
	
	//SUB-NAV DESKTOP HOVER FX
	.top-level > li:hover > .sub-nav,
	.top-level > li:active > .sub-nav,
	.top-level > li:focus > .sub-nav{
		@include media($tablet-landscape){
			left: -17px; //for reason, using 0 creates horz scroll bars on whole site
		}
	}

	//SUB-NAV OPEN FX
	li.nav-open {
		& > .sub-nav{
			//transform: scaleY(1);
			//height: initial;
			opacity: 1;
			left: 0;
		}

		.submenu-toggle{
			//transform: rotate(90deg);
		}
	}
	
	div.top-level-mobile-back{
		background: $color-alto;
		text-align: center;
		position: relative;
		padding: 11px 20px !important;

		@include media($tablet-landscape){
			display: none;
		}

		svg{
			transform: rotate(180deg);
			fill: $color-purple;
			width: 13px;
			height: 15px;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -7px;

			@include media($tablet-landscape){
				display: none;
			}
		}
	}

	//REGULAR POSTS (TERM POSTS)
	ul.terms-posts{
		width: 100%;

		@include media($tablet-landscape){
			padding-top: rem(20);
			width: auto;
		}

		& > li{			
			border-bottom: 1px solid $color-alto;
			padding: 0 rem(24);		

			@include media($tablet-landscape){
				padding: 0;
			}	
		}

		& > li:last-child{
			border-bottom: none;
		}

		a{
			padding: 15px 0;

			@include media($tablet-landscape){
				padding: 0;
			}
		}

		a:hover,
		a:focus,
		a:active{
			color: $color-purple;
		}

		li.term-name{
			padding-left: 0;
			padding-right: 0;
			position: relative;

			@include media($tablet-landscape){
				margin-bottom: 20px;
				border-bottom: 1px solid $color-alto;
				font-weight: 700;
			}

			svg{
				fill: $color-purple;
				width: 43px;
				height: 47px;
				padding: 15px;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -23px;

				@include media($tablet-landscape){
					display: none;
				}
			}
		}

		li.term-name a{
			padding-left: 0;
			padding-right: 0;
			width: 90%;

			@include media($tablet-landscape){
				font-weight: 700;
				width: auto;
			}
		}

		li.term-name-duplicate{
			position: absolute;
			right: -97vw;
			top: 10px;
			display: none;
			width: 94vw;
			background: $color-alto;
			text-align: center;
			padding: 11px 20px !important;

			@include media($tablet-landscape){
				display: none;
			}
		}

		li.term-name-duplicate.on{
			display: block;
		}

		li.term-name-duplicate svg{
			fill: $color-purple;
			width: 13px;
			height: 15px;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -7px;
			transform: rotate(180deg);

			@include media($tablet-landscape){
				display: none;
			}
		}

		li.term-post {
			position: absolute;
			right: -97vw;
			top: 60px;
			display: none;
			width: 94vw;
			padding: 11px 0;

			@include media($tablet-landscape){
				margin-bottom: 20px;
				position: relative;
				right: auto;
				top: auto;
				width: auto;
				display: block;
				border-bottom: none;
			}
		}

		li.term-post.on{
			display: block;
		}

		li.term-post svg{
			fill: $color-purple;
			width: 13px;
			height: 15px;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -7px;
			transform: rotate(180deg);

			@include media($tablet-landscape){
				display: none;
			}
		}
	}

	//FEATURED ITEMS
	div.featured-posts{
		overflow: hidden;
		border-bottom: 1px solid $color-alto;
		padding-bottom: 15px;

		@include media($tablet-landscape){
			padding-left: rem(24);
			padding-bottom: 0;
			border-bottom: none;
		}

		span.featured-heading{
			font-weight: 700;
			text-transform: uppercase;
			padding: rem(10) 0;
			display: block;

			@include media($tablet-landscape){
				border-bottom: 1px solid $color-alto;
			}
		}

		ul.featured-items{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;
		    align-items: flex-start;
		    transition: all .2s ease-out;

			@include media($tablet-portrait){			    
			    padding-top: rem(18);
    		}

			li{
				border-top: 1px solid $color-white;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				align-items: baseline;
				padding: 0 rem(24);
				width: 100%;
				position: relative;

				@include media($tablet-portrait){
					flex-wrap: wrap;
					padding: 0;
					border-top: none;
					flex: 1 1 auto;
					width: 264px;
				}
			}

			li:first-child{
				@include media($tablet-portrait){
					margin-right: rem(24);
				}
			}	

			& > li:last-child{
				border-bottom: none;
			}

			a{
				width: 100%;

				@include media($tablet-portrait){
					flex: 100%;
					margin: 0;
					padding: 0;
				}
			}

			a.post-link{
				display: flex;
				flex-wrap: wrap;
				flex-direction: column-reverse;
				justify-content: flex-end;
				align-items: center;			

				@media (min-width: 768px){
					justify-content: flex-start;
					align-items: flex-start;	
					font-weight: 700;
				}	
			}

			a.author-link{
				color: $color-purple;
			}

			img{
				margin-bottom: 10px;
	
				@include media($tablet-landscape){
					margin-bottom: 0;
				}
			}
		}
		
		ul.featured-items.featured-items-2{
			width: 200%;

			@media (min-width: 768px) AND ( max-width: 1024px){
				width: 100%;
			}

			@include media($tablet-landscape){
				width: auto;
			}
		}

		ul.featured-items.move-right{
			transform: translate(-50%);
		}

		.featured-arrow{
			position: absolute;
			top: 70px;

			@media (min-width: 768px){
				display: none;
			}
		}

		.featured-arrow.featured-left{
			left: 2px;
		}

		.featured-arrow.featured-right{
			transform: rotate(180deg);
			right: 2px;
		}

		.featured-arrow svg{
			opacity: .4;
			width: 18px;
			height: 28px;
		}
	}

	//MOBILE SOCIAL MEDIA
	div.mobile-ssm {
		@include media($tablet-landscape){
			display: none;
		}
		
		.ssm-navigation{
			text-align: center;
		}

		.msg{
			color: $color-purple;
			font-weight: 600;
			display: inline;
			vertical-align: 12px;
			margin: 0 8px;
		}

		.ssm-menu{
			display: inline-flex;
		}

		.ssm-navigation{
			display: inline;
		}

		svg,
		use{
			fill: $color-purple;
		}

		li.ssm-item,
		a,
		svg{
			width: 34px;
			height: 34px;
		}
	}

	//STATIC PAGES NAV
	.static-pages-nav{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: $color-purple;

		@include media($tablet-landscape){
			display: none;
		}
	
		ul{
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			padding: 17px 0;
			border-top: 1px solid $color-white;
		}
		
		li{
			margin: 0 4px;
			border-right: 1px solid $color-white;
			padding: 0 .625rem;
		}

		li:last-child{
			border-right: 0;
		}

		a{
			color: $color-white;
			font-size: rem(16);
			line-height: 1;
		}
	}

	.nav-item-account{		

		@include media($tablet-landscape){
			display: none !important;
		}

		ul{
			list-style: none;
			padding: 10px 0;
			margin: 0 auto;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
			width: 240px;
		}

		li{
			margin-left: 22px;
		}

		li:first-child{
			margin-left: 0;
		}

		a{
			text-align: center;
			text-decoration: none;
			font-size: rem(16);
			color: $color-black;
		}

		svg{
			display: block;
			margin: 0 auto;
		}

		a span{
			display: block;
		}

		.account-item-account svg{
			width: 22px;
			height: 25px;
		}

		.account-item-favorites svg{
			width: 29px;
			height: 26px;
		}

		.account-item-itinerary svg{
			width: 30px;
			height: 30px;
		}

		li:hover a,
		li:active a,
		li:focus a{
			color: $color-purple;
		}

		li:hover svg,
		li:active svg,
		li:focus svg{
			fill: $color-purple;
		}
	}

}


/**
 * THE EXPERIENCES NAVIGATION
 *
 */
.experience-section-nav-wrap{
	flex: 0 1 80%;
	margin-top: -120px;
	position: relative;

	@include media($tablet-portrait){
		flex: 0 1 436px;
	}

	.h3{
		display: block;
		text-align: center;
		color: $color-white;
		background: $color-turqoise;
		font-size: rem(20);
		font-weight: 600;
		font-family: $font-sans;
		padding: 8px 0;

		@include media($tablet-portrait){
			font-size: rem(28);
			padding: 13px 0;
		}
	}

	nav.experience-section-nav{
		position: relative;
	}

	.nav-trigger{
		display: block;
		transform-origin: 50% 50%;
		transform: rotate(-90deg);
		width: 26px;
		height: 16px;
		position: absolute;
		right: 18px;
		top: 17px;
		z-index: 2;

		@include media($tablet-portrait){
			display: none;
		}
	}

	.nav-trigger svg{
		width: 26px;
		height: 16px;
	}

	ul{
		@include list-reset;
		background: $color-white;
		

		@include media($tablet-portrait){
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: center;
			align-items: stretch;
		}
	}

	ul.none-selected{
		position: relative;
	}

	ul.none-selected:before{			
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: 0;
		left: 50%;
		margin-left: -10px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 8px solid $color-turqoise;
		
		@include media($tablet-portrait){
			margin-left: -20px;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
		}
	}

	li{
		padding: 5px 0;
		text-align: center;

		@include media($tablet-portrait){
			text-align: left;
			padding: 14px 0;
		}
	}
	
	li.current-item{
		position: relative;

		&:before{
			@include media($tablet-portrait){
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				top: 0;
				left: 50%;
				margin-left: -20px;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 16px solid $color-turqoise;
			}
		}

		a{
			color: $color-turqoise;
		}
	}

	a{
		text-decoration: none;			
		color: $color-black;
		padding: 0 20px;			

		@include media($tablet-portrait){
			border-right: 1px solid $color-black;
		}
	}

	li:last-child a{
		border-right: none;
	}

	a:hover,
	a:active,
	a:focus{
		color: $color-turqoise;
	}

	//DO THE MOBILE OPEN/CLOSE
	@media (max-width: 768px){

		nav.experience-section-nav{
			position: absolute;
			top: 36px;
			height: 39px;
			width: 100%;
			overflow: hidden;
			background: $color-white;
		}

		nav.experience-section-nav ul{
			width: 100%;
			position: absolute;
			z-index: 1;
		}

		nav.experience-section-nav.on{
			height: auto;
		}

		nav.experience-section-nav.on ul{
			position: relative;
			top: 0 !important;
		}

		nav.experience-section-nav ul.brewery-selected{
			top: -39px;			
		}

		nav.experience-section-nav ul.tours-selected{
			top: -78px;
		}

		nav.experience-section-nav ul.events-selected{
			top: -117px;
		}
	}
	
}
