.wrap.ssm-banner{
	@include clearfix;
	padding-bottom: 186px;

	.facebook-widget{
		margin-bottom: 30px;

		@include media($phone-landscape){
			width: 50%;
			float: left;
			margin-bottom: 0;
		}

		@include media($tablet-landscape){
			width: 480px;
		}

		.fb-page{
			height: 480px;
		}
	}

	.instagram-widget{
		@include media($phone-landscape){
			width: 50%;
			float: right;
		}

		@include media($tablet-landscape){
			width: 480px;
		}

		.widget{
			margin: 0;
		}
	}

	.facebook-title{
		padding-bottom: 20px;
	}

	.instagram-title{
		margin: 0 0 20px;
	}
	
	.facebook-title strong,
	.instagram-title strong{
		font-size: rem(28);
		vertical-align: middle;
		padding: 0 10px;
	}

	.instagram-title a{
		color: $color-purple;
		text-decoration: none;
		vertical-align: middle;
	}

	.instagram-svg{
		fill: #295c84;
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}

	.facebook-svg{
		fill: #3d5c9a;
		width: 50px;
		height: 50px;
		vertical-align: middle;
	}
}

.te-socials{
	color: $color-white;
	background: $color-turqoise url( assets/images/group-cheer-wine.jpg ) 50% 0 no-repeat;
	padding: rem(34) 0;
	margin: 0 0 rem(30);
	text-align: center;
	display: none;

	@include media($tablet-landscape) {
		display: block;
	}

	.h1{
		text-indent: -999999px;
		color: transparent;
		background: url( assets/images/lets-get-social.png ) 50% 0 no-repeat;
		width: 245px;
		height: 67px;
		display: block;
		margin: 0 auto;
	}
}