/**********
 * TABS FUNCTIONALITY
 **********/

 .tabbed-ui.schedule-inner{
 	background: #fafafa;
	border-left: 2px solid $color-alto;
	border-right: 2px solid $color-alto;
	border-bottom: 2px solid $color-alto;
	@include clearfix;

	
	.tabs{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		border-top: 2px solid $color-alto;

		@include media($tablet-portrait){
			flex-wrap: nowrap;
		}		

		.tab{
			flex: 100%;
			font-size: rem(28);
			color: $color-dove-gray;
			background: #f1f1f1;
			text-align: center;			
			border-bottom: 2px solid $color-alto;	
			cursor: pointer;		

			@include media($tablet-portrait){
				flex: 1;
				border-left: 2px solid $color-alto;
				border-right: 2px solid $color-alto;
				margin-right: 7px;
				padding: 29px 0;
			}
		}

		.tab:first-child{
			border-left: none;
		}

		.tab:last-child{
			margin-right: 0;
			border-right: none;
		}

		.tab.on{
			background: $color-turqoise;
			color: $color-white;
			border-color: $color-turqoise;
			position: relative;
		}

		.tab.on:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 15px 0 15px;
			border-color: $color-turqoise transparent transparent transparent;
			bottom: -15px;
			left: 50%;
			margin-left: -15px;
			z-index: 2;
		}
	}

 	.days{		
		position: relative;
		transition: all .2s ease-out;
		overflow: hidden;
		@include clearfix;

		.day{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 22px;
			background: #fafafa;
		}

		.day.on{
			z-index: 1;
		}
 	}

 }