//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);

	// Make sure select elements fit in widgets
	select {
		max-width: 100%;
	}
}

// Search widget

.widget_search .search-submit {
	display: none;
}
