.page-add-event{
	.entry-content .caldera-grid{	
		color: $color-white;
		//display: none;

		.form-terms{
			color: $color-black;
			margin: 0 0 40px;
		}

		.h1{
			text-align: center;
		}

		.h2{
			margin-bottom: 30px;
		}

		.form-group{
			margin-bottom: 30px;
		}
		
		input[type="text"],
		input[type="time"],
		input[type="url"],
		input[type="number"],
		input[type="tel"],
		input[type="email"],
		textarea, 
		select{
			border: 1px solid $color-purple !important;
		}

		select.form-control,
		input[type="time"]{
			height: 55px !important;
			font-size: rem(18);
			color: #555;
		}

		.checkbox-inline,
		.checkbox,
		.help-block,
		label,
		.black-text{
			color: $color-black;
		}

		input[type="checkbox"],
		input[type="radio"]{
			width: 25px;
			height: 25px;
			vertical-align: -4px;
		}

		.btn{
			width: 100%;
			background: $color-purple;
			color: $color-white;
			border-color: transparent;
			border-radius: 80px;
			font-size: rem(18);
			margin-top: 64px;
		}


	}
}
