.page-template-tpl-page-contact{

	.primary{
		@include fill-parent;
	}

	.entry-content .h1{
		display: block;
		font-size: rem(56);

		.new-shine{
			font-size: rem(60);
		}
	}

	.entry-content p.narrow{
		@include media($tablet-portrait){
			width: 706px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.phone-number{
		text-decoration: none;
	    display: block;
	    width: 190px;
	    margin: 50px auto 0;
	    text-align: center;
	}
}