.page-experience,
.post-type-archive-winery,
.post-type-archive-brewery,
.tax-winery_category,
.tax-brewery_category{
	
	//--For the Tiles, see file /modules/_grid-tiles.scss

	.primary{
		@include fill-parent;
	}

	.site-main{
		padding-bottom: 48px;
		@include grid-wrapper;
	}

	.experiences-banners{
		.experience-banner{
			overflow: hidden;
			height: 500px;							
		}

		.banner-content{
			z-index: 1;
			position: absolute;
			color: $color-white;
			text-align: center;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.h1{
			font-family: $font-ostrich-rounded;
			font-size: rem(56);
			width: 100%;
			color: $color-white;
		}

		.banner-text{
			width: 254px;
		}

		a.btn{
			 padding: 10px 80px;
		}

		.parallax-bg{
			height: 200%;
			position: relative;
			top: -100%;
			background-size: cover;
			background-position: 50% 50%;
			z-index: 0;
		}
		.owl-prev,
		.owl-next{
			position: absolute;
			top: 50%;
			color: $color-white;
			width: 26px;
			height: 44px;
		}

		.owl-prev{
			left: 52px;
			background: url(assets/images/svg-icons/arrow-left.svg) no-repeat;
			color: transparent;
		}

		.owl-next{
			right: 52px;
			background: url(assets/images/svg-icons/arrow-right.svg) no-repeat;
			color: transparent;
		}
	}

	



	.local-favorites{
		margin-top: 120px;
		margin-bottom: 40px;
		padding: 0 10px;

		@include grid-wrapper;

		.heading{
			text-align: center;
			margin: 0 0 20px;
		}

		.ostrich{
			font-family: $font-ostrich-rounded;
			text-transform: uppercase;
			font-size: rem(56);
			margin-left: 16px;
		}

		.new-shine{
			font-family: $font-script;
			font-size: rem(74);			
			color: $color-purple;
		}

	}

	
}