.post-type-archive-happenings{
	#main.site-main{
		max-width: none;
		width: 100%;

		& > .wrap:first-child{
			@include outer-container(1000px);
		}
	}

	.happenings-search-wrap{
		background: $color-turqoise url( 'assets/images/wine-mosaic-alt-seamless.jpg' ) 0 100% repeat-x;
		padding: 0 0 50px;

		& > .wrap{
			@include outer-container(1000px);
		}
		
		form{
			display: flex;
			flex-wrap: wrap;
		}

		legend{
			color: $color-white;
			font-family: $font-ostrich-rounded;
			font-size: 2.5rem;
			line-height: 1;
			text-align: center;
			display: block;
			width: 100%;

			@include media($tablet-portrait){
				font-size: rem(56);
				line-height: 1.5;
			}
		}

		.field-wrap{
			margin: 0 auto;

			@include media($phone-landscape){
				margin: 0 4px;
			}
		}

		label{
			color: #317b6b;
			font-weight: 300;
			display: block;
			text-align: center;
		}

		input[type="text"],
		select{
			border-radius: 0 !important;
			border-left: none !important;
			border-right: none !important;
			border-top: none !important;
			border-bottom: 2px solid $color-black !important;
			background: none !important;
			color: $color-purple;
			font-size: rem(20) !important;
			font-family: $font-sans !important;
			font-weight: 300 !important;
			display: block;
			padding: 0 8px !important;
			text-align: center;
			margin: 0 auto;
			width: 150px;
		}

		select{
			padding: 0 20px !important;
			width: 200px;
		}

		.form-sentence{
			font-weight: 300;
			font-size: rem(20);
			display: block;
			width: 100%;
			text-align: center;
			margin: 15px 0;

			@include media($phone-landscape){
				display: inline;
				width: auto;
				margin: 0;
			}
		}

		.submit-wrap{
			width: 100%;
			margin: 20px 0 0;
		}

		input[type="submit"]{
			padding: 9px 14px;
		}

		.submit-arrow{
			display: block;
			float: none;
			margin: 0 auto;
		}
	}

	.happenings-results-tiles{
		padding-bottom: 100px;
		@include grid-wrapper;
	}

	.masonry-tiles{

		.masonry-grid-item-inner{
			position: relative;
			padding: 22px;
		}

		.happening_time{
			font-size: rem(12);
			z-index: 2;
			transition: all .2s ease-out;

			@include media($tablet-portrait){
				font-size: rem(16);	
			}
		}
		
		.start-date{
			background: $color-purple;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			height: 76px;
			padding: 0 20px;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}

		.start-date > span{
			margin: 0 8px;
			font-size: rem(28);
			font-weight: 800;
		}

		.month{
			text-transform: uppercase;
			display: block;
			font-size: rem(14);
			line-height: .5;

			@include media($tablet-portrait){
				font-size: rem(18);
				line-height: 1.5;
			}
		}

		.day{
			font-size: rem(20);
			font-weight: 700;
			line-height: .5;

			@include media($tablet-portrait){
				font-size: rem(28);
				
			}
		}

		.upgraded.double-date,
		.upgraded-alt.double-date,
		.default.double-date,
		.standard.double-date{
			.start-date{
				width: 100%;

				@include media($tablet-portrait){
					width: auto;
				}
			}
		}
	}

	.masonry-grid-item:hover,
	.masonry-grid-item:active,
	.masonry-grid-item:focus{
		.happening_time{
			transform: translateY(-50px);
		}		
	}

	.load-more{
		display: block;
		color: $color-purple;
		border: 2px solid $color-purple;
		border-radius: 80px;
		background: $color-white;
		width: 100%;
		padding: 10px 0;
		margin-top: 40px;
	}

	.no-results-wrap{
		text-align: center;
		padding: 40px 0 10px;
		font-size: rem(30);
	}
	
	.featured-articles {
		clear: both;
	}

	.featured-articles .wrap{
		max-width: 1179px;		
	}

	.featherlight .featherlight-content{
		background: $color-turqoise url( 'assets/images/wine-mosaic-alt-seamless.jpg' ) 0 100% repeat-x;
		width: 900px;
		padding-bottom: 50px;
	}

	.add-event-banner{
		background: $color-purple;
		color: $color-white;

		.wrap{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			

			@media (min-width: 790px){
				width: rem(754);				
			}
			@media (min-width: 667px){
				padding: 0;
			}
		}

		.image-wrap{
			width: 314px;
			background-size: cover;
			background-position: 50% 50%;

			img{
				opacity: 0;
			}

			@media (min-width: 667px){
				flex: 0 1 50%;
			}

			@media (min-width: 790px){
				flex: 0 0 314px;
			}
		}

		.text-wrap{
			width: 376px;

			@media (min-width: 667px){
				flex: 0 1 43%;
			}

			@media (min-width: 790px){
				flex: 0 0 376px;
			}
		}

		.title{
			//background: url(assets/images/ampersand.png) 37px 50% no-repeat;
			background-size: auto 100%;
			margin: 12px 0 8px;
		}

		.title .h1{
			color: $color-white;
			font-size: rem(56);
		}

		.title .none{
			display: none;
		}

		.title .push{
			padding-right: 11px;
		}

		.btn{
			display: inline-block;
			margin: 0 0 30px;
		}
	}		

	.events-form-wrap{		
		color: $color-white;
		//display: none;


		.form-terms{
			color: $color-black;
		}

		.h1{
			color: $color-white;
			text-align: center;
		}

		.h2{
			color: $color-white;
			margin-bottom: 30px;
		}

		select.form-control,
		input[type="time"]{
			height: 55px !important;
			font-size: rem(18);
			color: #555;
		}

		.checkbox-inline,
		.checkbox,
		.help-block,
		label,
		.black-text{
			color: $color-black;
		}

		input[type="checkbox"],
		input[type="radio"]{
			width: 25px;
			height: 25px;
			vertical-align: -4px;
		}

		.btn{
			width: 100%;
			background: $color-purple;
			color: $color-white;
			border-color: transparent;
			border-radius: 80px;
			font-size: rem(18);
			margin-top: 64px;
		}
	}

}