//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.home{

	.primary{
		@include fill-parent;
	}

	.local-favorites,
	.escapes-choice{
		margin-bottom: 40px;

		.masonry-tiles{
			@include grid-wrapper;
		}		

		.heading{
			text-align: center;
			margin: 0 0 20px;
		}

		.ostrich{
			font-family: $font-ostrich-rounded;
			text-transform: uppercase;
			font-size: rem(56);
			line-height: 1;
			display: block;	

			@include media($phone-landscape){
				line-height: 1.5;
				margin-left: 16px;
				display: inline;	
			}
		}

		.new-shine{
			font-family: $font-script;
			font-size: rem(74);			
			color: $color-purple;
			line-height: 1;

			@include media($phone-landscape){
				line-height: 1.5;
			}
		}

		&.wrap{
			padding-left: 0;
			padding-right: 0;
			max-width: 1010px;

			@include media($tablet-portrait){
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.locals-and-travelers{
		background-size: cover;
		background-position: 50% 50%;
		color: $color-white;
		padding: 20px 0 50px;

		.wrap{			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@include media($tablet-portrait){
				width: 550px;
			}
		}
		
		.title{
			margin: 0 0 40px;
			background: url(assets/images/ampersand.png) 50% 50% no-repeat;
		}

		.h1{
			color: $color-white;
			text-align: center;
			font-size: rem(56);
			line-height: 1.3;
		}

		.none{
			display: none;
		}

		p{
			text-align: center;
		}
	}

	.ss-banner{
		background: $color-purple;
		color: $color-white;

		.wrap{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			

			@media (min-width: 790px){
				width: rem(754);				
			}
			@media (min-width: 667px){
				padding: 0;
			}
		}

		.image-wrap{
			width: 314px;
			background-size: cover;
			background-position: 50% 50%;

			img{
				opacity: 0;
			}

			@media (min-width: 667px){
				flex: 0 1 50%;
			}

			@media (min-width: 790px){
				flex: 0 0 314px;
			}
		}

		.text-wrap{
			width: 376px;

			@media (min-width: 667px){
				flex: 0 1 43%;
			}

			@media (min-width: 790px){
				flex: 0 0 376px;
			}
		}

		.title{
			//background: url(assets/images/ampersand.png) 37px 50% no-repeat;
			background-size: auto 100%;
			margin: 12px 0 8px;
		}

		.title .h1{
			color: $color-white;
			font-size: rem(56);
		}

		.title .none{
			display: none;
		}

		.title .push{
			padding-right: 11px;
		}

		.btn{
			display: inline-block;
			margin: 0 0 30px;
		}
	}	
}