.page-template-tpl-page-mailchimp-raffle.raffle_screen{
	background: $color-turqoise;

	header.site-header,
	footer.site-footer{
		display: none;
	}
	
	.main{
		height: 100vh;
		overflow: hidden;
	}

	.site,
	.site-content,
	.wrap,
	.content-area{
		margin: 0;
		padding: 0;
		width: 100vw;
	}
	
	.screen{
		height: 80vh;
		width: 100vw;
		position: fixed;
	}
	
	.raffle-header{
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;		
		height: 20vh;

		.vssn-logo{
			margin-left: 30px;
		}
	}

	.screen-one{
		text-align: center;
		margin-top: 20px;
		z-index: 20;

		.h2{
			color: $color-white;
			font-family: $font-sans;
			font-weight: 800;
		}

		.h1{
			color: $color-purple;
			font-family: $font-sans;
			font-weight: 800;
			font-size: rem(70);
		}
		
		.participants-number{
			display: block;
			font-size: rem(135);
			font-weight: 800;
			color: #409483;
			line-height: 1;
			margin-top: 40px;
		}

		.participants-label{
			color: $color-white;
			font-size: rem(30);
			text-transform: uppercase;
			line-height: 1;
		}

		.big-stupid-button{
			position: relative;
			width: 302px;
			height:148px;
			margin: 100px auto 0;

			.btn-bottom{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
			}

			.btn-top{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				transition: all .4s ease-out;
			}

			.btn-top.press{
				animation-duration: .2s;
				animation-name: btnPress;
			}

			.btn-foreground{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
		}
	}

	.screen-two{
		z-index: 10;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		align-content: stretch;

		.raffle-contestant{
			flex: 1;
			padding: 4px 3% 4px;
			text-align: center;
			color: $color-white;
			font-weight: 800;
			font-size: rem(20);
			position: relative;
			line-height: 1.2;

		}
	}

	.screen-three{
		z-index: 5;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		font-size: rem(300);
		font-weight: 800;
		color: #409483;
		padding-top: 6vh;
	}

	.screen-four{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		padding-top: 14vh;

		.winner-title{
			opacity: 0;
			font-family: $font-sans;
			font-weight: 800;
			font-size: rem(80);
			display: block;
			text-align: center;
			line-height: 1.2;
			margin: 0;
			text-transform: uppercase;
		}

		.winner-name{
			color: $color-white;
			font-weight: 800;
			font-size: rem(80);
			display: block;
			text-align: center;
			line-height: 1.2;
			transform: scale(.2);
			transform-origin: center center;
		}

		.winner-email{
			color: $color-white;
			font-weight: 800;
			font-size: rem(40);
			display: block;
			text-align: center;
			line-height: 1.2;
			transform: scale(.2);
			transform-origin: center center;
		}

		.confirm-winner{
			color: $color-turqoise;
			align-self: flex-end;
			background: $color-white;
			padding: 2px 4px 0;
			border-radius: 4px 4px 0 0;
			font-size: rem(12);
			text-decoration: none;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}

}

@keyframes btnPress {
	0%{
		transform: translateY(0);
	}
	85%{
		transform: translateY(17px);
	}
	90%{
		transform: translateY(17px);
	}
	94%{
		transform: translateY(-2px);
	}
	100%{
		transform: translateY(0);
	}
}


.page-template-tpl-page-mailchimp-raffle{
	#content{
		margin-bottom: 80px;
	}

	input[type="text"].form-control,
	input[type="email"].form-control{
		background: $color-alto;
	}
}