//--------------------------------------------------------------
// 
//--------------------------------------------------------------
.single-explore,
.single-happenings{

	.schedule{
		margin: 40px 0 0;

		.h1{
			color: $color-purple;
			font-family: $font-ostrich-rounded;
			font-size: rem(36);
			letter-spacing: 7px;
			display: block;
			margin: 0 0 20px;
		}
	}	
}