.search-results,
.page-template-tpl-page-search{

	.site-content{
		padding-bottom: 80px;
	}

	.result-group{
		margin: 0 0 140px;

		article{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row-reverse;

		}

		header{
			flex: auto;
		}

		img{
			flex: 0;
			margin-right: 20px;
		}

		.entry-title{
			margin-top: 0;
		}
	}

	.group-title{
		font-size: rem(44);
	}

}