/**
 * THE TOP LEVEL PAGES
 *
 **/

.post-type-archive-happenings,
.post-type-archive-explore,
.post-type-archive-eat_and_drink,
.post-type-archive-good_to_know,
.tax-happenings_category,
.tax-explore_category,
.tax-eat_and_drink_category,
.tax-good_to_know_category{
	
	.primary{
		@include fill-parent;	
	}

	.site-main{
		@include grid-wrapper;
	}
	
	h3.clarity-label{
		font-size: rem(40);
		position: relative;
	}

	.site-content .wrap{
		//@include outer-container(1000px);
	}

	.wrap.local-favorites{		
		margin-top: 120px;
		margin-bottom: 40px;
		padding: 0 10px;	
		@include grid-wrapper;

		.heading{
			text-align: center;
			margin: 0 0 20px;
		}

		.ostrich{
			font-family: $font-ostrich-rounded;
			text-transform: uppercase;
			font-size: rem(56);
			line-height: 1;
			display: block;			

			@include media($phone-landscape){
				line-height: 1.5;
				margin-left: 16px;
				display: inline;
			}
		}

		.new-shine{
			font-family: $font-script;
			font-size: rem(74);			
			color: $color-purple;
			line-height: 1;

			@include media($phone-landscape){
				line-height: 1.5;
			}
		}

	}
}

@keyframes bounce {
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(0px);
	}
	40%{
		transform: translateY(14px);
	}
	50%{
		transform: translateY(0px);
	}
	60%{
		transform: translateY(8px);
	}
	80%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(0px);
	}
}